$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #333;
$primaryDark: #560027;
$primaryLight: #bc477b;
$disabled: #ccc;
$disabledColor: #666;
$valid: #4c9a32;
$invalid: #ef5350;
$invalidDark: #700d0a;
$babyBlue: #b1d4e0;
$blue: #2e8bc0;
$charcoal: #122620;
$darkBlue: #0c2d48;
$darkBlueShadow: #071825;
$midnightBlue: #145da0;
$tan: #b68d40;
$cream: #f4ebd0;
$gold: #d6ad60;
$darkTan: #74541a;
