@import '../../styles/colors.scss';

.container {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 12px;

    &.notAvailable {
        background-color: $invalidDark;
    }

    &.available {
        background-color: $valid;
    }
}